body
  font-family Courier, "Courier New", monospace

#board
  .step
    float left
    width 180px
    h1
      font-size 20px
      font-weight normal
      color #999999
      background #E3E3E3
      padding 12px
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      margin 2px 0 2px 5px
    .cell
      min-height 75px
      border-left 5px #E3E3E3 solid
      margin-bottom 2px
      div
        height 50px
        font-size 18px
        color #999999
        border-left 5px #666666 solid
        margin-left -5px
        padding 4px 8px
        &.seperator
          height 5px
          padding 0px
          margin-bottom 2px
          
        
      
